*{
    border: 0;
    margin: 0;

}
body{
    background-color: #f5f8ff;
}
.inter-color {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

section{
    width: 100%;
    height: 620px;
    background-image: url(./Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
section nav{
    max-width: 1140px;
    height: 151px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
nav h1{
    color: #4E47FF;
    font-size: 34px;
}
nav button{
    background-color:#4E47FF ;
    color: white;
    padding: 10px 36px;
    border-radius: 8px;

}
nav button:hover{
    background-color:#4d47ffb6 ;
    padding:15px 45px ;
}
.banner{
    width: 100%;
    height: 350px;
    background-image: url(./Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-top: 30px;
   

}
.banner h1{
    font-size: 55px;
    color:#252432;
}
.banner button{
    background-color:#4E47FF ;
    color: white;
    padding: 10px 36px;
    border-radius: 8px;
    margin-top: 37px;
}
.banner button:hover{
    background-color:#4d47ffb6 ;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.main1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.main1 img{
    height:328px ;
    width:403px ;
    border-radius: 32px;
}
.main1 h1{
    font-size: 42px;
    color:#252432;

}
.main1 p{
     color:#252432;
     opacity: 0.8;
     font-weight: 500;

}
.gaping{
    margin-top: 15px;
}
.main1 button{
    margin-top: 30px;
    background-color:#4E47FF ;
    color: white;
    padding: 10px 36px;
    border-radius: 8px;
}
.main1 button:hover{
    background-color:#4d47ffb6 ;
     transition: background-color 0.3s ease, transform 0.3s ease;
}
.main2{
    max-width: 1140px;
    height:306px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    background-color: #e4e6ff;
    border-radius: 24px;
    margin-bottom: 80px;

    
}

.main2-description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-top: 50px;
    padding-bottom: 20px;
}
.hadd{
    font-size: 38px;
    color:#252432;
    padding-top: 50px;

    
}
.s-design{
    font-size: 80px;
    color: #4e47ff;
}
.main2 p{
    opacity: 0.8;
}
.stars{
    display: flex;
    gap: 2px;

}
.main3{
    max-width: 1140px;
    height: 342px;
    margin: 0 auto;
    
}
.main3 h1{
    text-align: center;
}
.main3-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: 30px;
   
   

}
.card1{
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.164);
   padding: 20px 30px;
   border-radius: 14px;
  

}
.main3-head{
   margin-bottom: 40px;
   font-size: 42px;
    color:#252432;
}
.stars{
   margin-bottom: 20px;
}
.main3 h5{
    font-size: 20px;
    opacity: 0.8;
}
.main3 p{
    opacity: 0.8;
    font-size: 15px;
    margin-bottom: 10px;
}
.reviwe{
    display: flex;
    gap: 15px;

}
.main-4{
    max-width: 1120px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.276);
    border-radius: 14px;
}
.main-4 img{
    height: 300px;
    width: 840px;
    border-radius: 48px;
}
.main-4 h1{
    margin-bottom: 20px;
    font-size: 40px;
    margin-top: 70px;

}
.main-4 p{
    opacity: 0.6;
    margin-bottom: 20px;
}
.main-4 button{
   background-color:#4E47FF ;
    color: white;
    padding: 10px 36px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.main-4 button:hover{
    background-color:#4d47ffb6 ;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-5{
    max-width: 1120px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-1{
    height: 232px;
    width: 528px;
}
.main-5 h1{
    font-size: 70px;
    color:#252432;
}
.container-2{
    height: 450px;
    width: 450px;
}
.inputt{
    height: 70px;
    width: 440px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.text-area{
    width: 440px;
    height: 120px;
}
.main-5 button{
     background-color:#4E47FF ;
    color: white;
    padding: 10px 36px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 445px;
}
.main-5 button:hover{
    background-color:#4d47ffb6 ;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.formm ::placeholder{
    font-size: 15px;
    padding: 20px;
}
.labell{
    color: #252432;
    font-size: 17px;
}

.foot{
   max-width: 100%;
   height: 350px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: -100px;
   background-color: white;

}
.foot h1{
    font-size: 80px;
    color: #4e47ff;
}
.foot p{
    font-size: 15px;
    opacity: 0.7;
}

.direction ul{
    list-style: none;
    margin-top: 20px;
    margin-right: 35px;

}
.direction ul a{
    text-decoration: none;
    color: #4d47ff8c;
    font-weight: 400;
    font-size: 15px;
    
}
.direction ul{
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 30px;
}
.direction ul a:hover{
    color: #4e47ff;
    cursor: pointer;
}